<center>
  <table class="roundedCorners">
    <thead>
      <tr>
        <td>
          <%= form_with(model: [@exam, @question], local: true) do |f| %>
            <% if @question.errors.any? %>
              <h2><%= pluralize(@question.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @question.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>

            <div class="field">
              <%= f.label :question %><br />
              <%= f.text_field :info, autofocus: true, autocomplete: "name" %>
            </div>
            
            <div id="options">
              <%= f.fields_for :options do |option| %>
                <%= render "option_fields", f: option %>
              <% end %>
              <div class="links">
                <%= link_to_add_association "Add Option", f, :options, class: "fa fa-plus-square" %><br />
              </div>
            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
        </td>
      </tr>
    </thead>
  </table>
</center>

<script>
  $('.myradio').prop('checked', true);
</script>
