<div class="nested-fields">
  <br />
  <div class="field">
    <%= f.label :option %><span class="myspan">*</span><br />
    <%= f.check_box :answer %>
    <%= f.text_field :option_index, autofocus: true, class: "col-md-1" %>
    <%= f.text_field :name, autofocus: true %>
    <%= link_to_remove_association "", f, class: "btn btn-outline-danger fa fa-trash" %>
  </div> 
</div>
