<div>
  <center>
    <% if !@questions.blank? %>
      <table class="roundedCorners" id="questionlist">
        <th>
          <%= link_to("Add More Question", new_exam_question_path(params[:exam_id])) %>
        </th>
      </table>
      <table class="table" id="questionlist">
        <thead class="thead-dark">
          <tr>
            <th>No.</th>
            <th>Question</th>
            <th colspan="2" class="text-center">Operations</th>
            <th></th>
          </tr>
        </thead>
        <% count = 1 %>
        <% @questions.each do |question| %>
          <tr>
            <td><%= count %></td>
            <td><%= question.info %></td>
            <td class="text-center">
              <%= link_to "Edit", edit_exam_question_path(question.exam, question), class: "btn btn-outline-primary fa fa-pencil-square-o" %>
            </td>
            <td class="text-center">
              <%= link_to "Delete", exam_question_path(question.exam, question), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger fa fa-trash" %>
            </td>
            <td class="text-center">
              <%= link_to "Options", exam_question_options_path(question.exam, question), class: "btn btn-outline-success fa fa-braille" %>
            </td>
          </tr>
          <% count += 1 %>
        <% end %>
      </table>
    <% else %>
      <h2 style="color:red">No Question has been added!!!</h2>
      <h3><%= link_to "Add Question", new_exam_question_path(params[:exam_id]), data: { confirm: "Are you sure?" } %>
      </h3>
    <% end %>
  </center>
</div>
