<center>
  <table class="roundedCorners" id="studadd">
    <thead>
      <tr>
        <td>
          <%= form_with(model: @user, url: user_session_path, local: true) do |f|%>
            <% if @user.errors.any? %>
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>

            <div class="field">
              <%= f.label :enrollment %><br />
              <%= f.text_field :enrollment, autofocus: true, autocomplete: "enrollment" %>
            </div>

            <div class="field">
              <%= f.label :semester %><br />
              <%= select_tag(:sem,  options_from_collection_for_select(Semester.all, :id, :sem), {:class=>'form-control', :prompt => 'Select Semester'}) %>
            </div>


            <div class="field">
              <%= f.label :branch_id %><br />
              <%= select_tag(:branch_id,  options_from_collection_for_select(Branch.all, :id, :name), {:class=>'form-control', :prompt => 'Select Branch'}) %>
            </div>

            <div class="field">
              <%= f.label :pyear %><br />
              <%= f.text_field :pyear, autofocus: true, autocomplete: "pyear" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation %>
            </div>

            <div class="field">
              <%= f.hidden_field :status, :value =>2 %>
            </div>

            <div class="actions">
              <%= f.submit "Register" %>
            </div>
          <% end %>
        </thead>
      </tr>
    </td>
  </table>
</center>

<center>
  <h4>or</h4>
  
  <h2>:::Add data from Excell Sheet:::</h2>
  <%= link_to 'Download sample', download_excel_students_path %>
  <table class="roundedCorners">
    <thead>
      <tr>
        <td>
          <%= form_tag import_admin_index_path,multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import" %>
          <%end%>
        </td>
      </tr>
    </thead>
  </table>
</center>
