<%# <%= render "layouts/student_header" %>
<% @page_title = "Dashboard" %>
<center>
  <h1>Welcome <%= current_user.fname %>!!</h1>
</center>
<br />
<div class="popular_catagory_area">
  <div class="row">
    <div class="col-lg-4 col-xl-6 col-md-6">
      <div class="single_catagory">
        <a href="students/exam_list">
          <h4>Exams have been assigned</h4>
        </a>
        <p> <span><%= current_user.assigns.count %></span>exams</p>
      </div>
    </div>
    <div class="col-lg-4 col-xl-6 col-md-6">
      <div class="single_catagory">
        <a href="students/exam_list">
          <h4>Exams have been attempted</h4>
        </a>
        <p> <span><%= current_user.results.count %></span>exams</p>
      </div>
    </div>
  </div>
</div>
<%# <%= render "exam_list" %>
