<center>
<h1>Admin Dashboard</h1>(Welcome Admin!)


<%if current_user%>
<!--<%= @user = current_user %>
<%= @user.email%>-->

<%= link_to 'Edit Profile', edit_user_registration_path%>|
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<br>
<h3>==========================</h3>
<%= link_to 'Add Faculty', new_faculty_path%>|
<%= link_to 'Add Students', new_student_path%>|
<%= link_to 'Add Subject', modifysubject_index_path%>

<%else%>
<script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
</script>
<!--<%= link_to 'sign up', new_user_registration_path %>-->
<%= link_to 'sign in', new_user_session_path %>
<%end%>

</center>