<center>
  <div class="container">
    <div class="w3-animate-zoom">
      <div class="slider_text">
        <div class="col-lg-8 col-md-8">
          <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Welcome Admin!!</h3>
        </div>
      </div>
    </div>
  </div>
</center>

<div class="popular_catagory_area" style="padding-top: 4%; padding-bottom: 0%">
  <div class="row">
    <div class="col-lg-4 col-xl-4 col-md-6">
      <div class="single_catagory">
          <%= pie_chart User.with_role(:student).group('semester_id').count ,xtitle: "Semester", ytitle: "Students", refresh: 60, download: true, background: "#ffffff", messages: {empty: "No data"} %>
        <p> <span><%= User.with_role(:student).count %></span>Students
          are enrolled</p>
      </div>
    </div>
     <div class="col-lg-4 col-xl-4 col-md-6">
     <div class="single_catagory">
        <a href="#">
          <h4>Total Exams have been conducted</h4>
        </a>
        <p> <span><%= Exam.all.count %></span>exams</p>
      </div>
    </div>
    <div class="col-lg-4 col-xl-4 col-md-6">
      <div class="single_catagory">
          <%= pie_chart User.with_role(:faculty).group('branch_id').count ,xtitle: "Semester", ytitle: "Students", refresh: 60, download: true, background: "#ffffff", messages: {empty: "No data"} %>
        <p> <span><%= User.with_role(:faculty).count %></span>Faculties are Enrolled</p>
      </div>
    </div>
  </div>
</div>
