<%= link_to 'Back', admin_index_path%>
<script>
  function myFunction(category) {
    alert(category);
  }
</script>

<% if params[:id]=="student" %>

<select id="category" onChange="alert(this.value);">
  <option value="student">Student</option>
  <option value="faculty">Faculty</option>
</select>

<center>
  <h2>:::Add Student:::</h2>

  <table class="roundedCorners" id="studadd">
    <thead>
      <tr>
        <td>
          <%= form_with(model: @user,url: admin_index_path) do |f|%>
          <% if @user.errors.any? %>

          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
          <% end %>

          <div class="field">
            <%= f.label :enrollment %><br />
            <%= f.text_field :enrollment, autofocus: true, autocomplete: "enrollment" %>
          </div>

          <div class="field">
            <%= f.label :semester %><br />
            <%= select_tag(:sem,  options_from_collection_for_select(Semester.all, :id, :sem), {:class=>'form-control', :prompt => 'Select Semester'}) %>
          </div>


          <div class="field">
            <%= f.label :branch_id %><br />
            <%= select_tag(:branch_id,  options_from_collection_for_select(Branch.all, :id, :name), {:class=>'form-control', :prompt => 'Select Branch'}) %>
          </div>

          <div class="field">
            <%= f.label :pyear %><br />
            <%= f.text_field :pyear, autofocus: true, autocomplete: "pyear" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %>
          </div>

          <div class="field">
            <%= f.hidden_field :status, :value =>2 %>
          </div>

          <div class="actions">
            <%= f.submit "Register" %>
          </div>

          <% end %>
    </thead>
    </tr>
    </td>
  </table>
</center>

<center>
  <h4>or</h4>
  <h2>:::Add data from Excell Sheet:::</h2>
  <table class="roundedCorners">

    <thead>
      <tr>
        <td>
          <%= form_tag import_admin_index_path,multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import" %>
          <%end%>
        </td>
      </tr>
    </thead>
  </table>
</center>


<% elsif params[:id]=="faculty" %>

<center>
  <h2>:::Add Faculty:::</h2>
  <table class="roundedCorners">

    <thead>
      <tr>
        <td>

          <%= form_with(model: @user,url: admin_index_path) do |f|%>

          <% if @user.errors.any? %>

          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
          <% end %>

          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :fname, autofocus: true, autocomplete: "fname" %>
          </div>

          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :lname, autofocus: true, autocomplete: "lname" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :mobile %><br />
            <%= f.text_field :mobile, autofocus: true, autocomplete: "mobile" %>
          </div>

          <div class="field">
            <%= f.label :branch_id %><br />


            <%= select_tag(:branch_id,  options_from_collection_for_select(Branch.all, :id, :name), {:class=>'form-control', :prompt => 'Select Branch', :onchange => "myFunction(this.value);"}) %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %>
          </div>

          <div class="field">
            <%= f.hidden_field :status, :value =>1 %>
          </div>



          <div class="actions">
            <%= f.submit "Register", id: "1" %>
          </div>
          <% end %>
        </td>
      </tr>
    </thead>
  </table>
</center>




<div>
  <center>
    <h2>:::Faculty List:::</h2>
    <table class="roundedCorners" id="faclist">

      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Branch</th>
          <th>Mobile</th>
          <th>Status</th>
          <th></th>

        </tr>
      </thead>


      <%@usershow.each do |i|%>

      <%if i.has_role? (:faculty)%>
      <tr>

        <td><%=i.fname %></td>
        <td><%=i.lname %></td>
        <td><%=i.email %></td>

        <td><%= i.branch&.name %></td>
        <td><%=i.mobile %></td>
        <td><%=i.status %></td>
        <td><%=link_to("Delete", admin_path(i), method: :delete, data: {confirm:"Are you sure?"}) %></td>

      </tr>
      <% end %>
      <% end %>




    </table>
  </center>
</div>


<% else%>
<h2>Else Part</h2>
<%end%>