<h2>Sign up</h2>

<%= form_with(method: "get" ,model: @user,url:  admin_index_path, local: true) do |f|%>


<div class="field">
    <%= f.label :enrollment %><br />
    <%= f.text_field :enrollment, autofocus: true, autocomplete: "enrollment" %>
  </div>

   <div class="field">
    <%= f.label :sem %><br />
    <%= f.text_field :sem, autofocus: true, autocomplete: "sem" %>
  </div>

  <div class="field">
    <%= f.label :branch %><br />
    <%= f.text_field :branch, autofocus: true, autocomplete: "branch" %>
  </div>

   <div class="field">
    <%= f.label :pyear %><br />
    <%= f.text_field :pyear, autofocus: true, autocomplete: "pyear" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
