<% # <%= link_to "Back", admin_index_path %>
<%= form_with(model: @user, url: user_session_path, local: true) do |f| %>
<div class="form row">
  <%= f.collection_select :branch_id, Branch.all, :id, :name, { prompt: "Select Branch", required: true }, { class: "nice-select wide col-md-3", title: "Branch of the students" } %>
  <%= f.collection_select :semester_id, Semester.all, :id, :sem, { prompt: "Select Semester" }, { class: "nice-select wide col-md-3", title: "Semester of the students" } %>
  </div>
<% end %>

<%= form_with(model: @user, url: admin_index_path, local: true) do |f| %>
  <table class="table">
    <thead class="thead-primary">
      <tr>
        <th class="text-right"><%= radio_button_tag "operation", "promote", "true" %><%= f.label :promote, id: :promote, title: "Increment semester" %></th>
        <th class="text-left"><%= radio_button_tag "operation", "demote" %><%= f.label :demote, id: :demote, title: "Decrement semester" %></th>
      </tr>
    </thead>
  </table>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th >Enrollment</th>
        <th >Name</th>
        <th data-sort-ignore="true" ><input type="checkbox" id="selectAll" /></th>
        <th class="text-right">Pass Out Year</th>
      </tr>
    </thead>
    <tbody id="users">
    </tbody>
  </table>
<%= f.submit "submit", class: "btn boxed-btn3 btn-xs col-md-2" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#selectAll").on("click", function (event) {
      var cbxs = $('input[type="checkbox"]');
      if ($("#selectAll").prop("checked") == true) {
        cbxs.prop("checked", true);
      } else if ($("#selectAll").prop("checked") == false) {
        cbxs.prop("checked", false);
      }
    });
  });
</script>
