<div class="text-center">
  <%= form_with(model: @faculty, local: true) do |f| %>
    <% if @faculty.errors.any? %>
      <h2><%= pluralize(@faculty.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @faculty.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group row">
      <%= f.label :first_name, class: "col-md-2" %><br />
      <%= f.text_field :fname, autofocus: true, autocomplete: "fname", class: "col-md-4" %>
    </div>

    <div class="form-group row">
      <%= f.label :last_name, class: "col-md-2" %><br />
      <%= f.text_field :lname, autofocus: true, autocomplete: "lname", class: "col-md-4" %>
    </div>

    <div class="form-group row">
      <%= f.label :email, class: "col-md-2" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-4" %>
    </div>

    <div class="form-group row">
      <%= f.label :mobile, class: "col-md-2" %><br />
      <%= f.text_field :mobile, autofocus: true, autocomplete: "mobile", class: "col-md-4" %>
    </div>

    <div class="form-group row">
      <%= f.label :branch_id, class: "col-md-2" %><br />
      <%= select_tag(:branch_id,  options_from_collection_for_select(Branch.all, :id, :name), {:class => "col-md-4", :prompt => 'Select Branch', :onchange => "myFunction(this.value);"}) %>
    </div>

    <div class="form-group row">
      <%= f.label :password, class: "col-md-2" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "col-md-4" %>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, class: "col-md-2" %><br />
      <%= f.password_field :password_confirmation, class: "col-md-4" %>
    </div>

    <div class="form-group row">
      <%= f.hidden_field :status, :value =>1, class: "col-md-2" %>
    </div>
    <div class="form-group row">
      <div class="col-md-2"></div>
      <%= f.submit :class => "col-md-2 text-center" %>
    </div>
  <% end %>
</div>

<div>
  <h2>:::Faculty List:::</h2>
  <table class="table" id="faclist">
    <thead class="thead-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Branch</th>
        <th>Mobile</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |faculty| %>
      <tr>
        <td><%= faculty.fname %></td>
        <td><%= faculty.lname %></td>
        <td><%= faculty.email %></td>
        <td><%= faculty.branch&.name %></td>
        <td><%= faculty.mobile %></td>
        <td><%= faculty.status %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty.id) %></td>
        <td><%= link_to 'Delete', faculty_path(faculty), method: :delete, data: {confirm:"Are you sure?"} %></td>
      </tr>
    <% end %>
  </table>
</div>
