<% # <%= link_to "Back", admin_index_path %>
<% @page_title = "Faculty List" %>
<body style="background-color: #F5F7FA">
<div>
  <div class="text-center">
    <h6><%= link_to "Add Faculty", new_faculty_path, class: "boxed-btn3", title: "Add new Faculty" %></h6>
  </div>
  <table class="table table-hover" id="faclist">
    <thead class="thead-light">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Branch</th>
        <th>Mobile</th>
        <% # <th>Status</th> %>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% @faculties.each do |faculty| %>
      <tr>
        <td title ="First Name"><%= faculty.fname %></td>
        <td title ="Last Name"><%= faculty.lname %></td>
        <td title ="Email"><%= faculty.email %></td>
        <td title ="Branch Name"><%= faculty.branch&.name %></td>
        <td title ="Mobile Number"><%= faculty.mobile %></td>
        <% # <td><%= faculty.status %>
        <td><%= link_to "Edit", edit_faculty_path(faculty.id), class: "genric-btn info-border radius medium fa fa-pencil-square-o", title: 'Edit faculty' %></td>
        <td><%= link_to "Delete", faculty_path(faculty), method: :delete, data: { confirm: "Are you sure?" }, class: "genric-btn danger-border radius medium fa fa-trash", title: 'Delete faculty' %></td>
      </tr>
    <% end %>
  </table>
</div>
</body>
