<%if current_user%>
  <center>
    <h1>Faculty Dashboard</h1>(<%= current_user.email%>)
    <%= link_to 'Edit Profile', edit_user_registration_path %>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
    <br>
    <h3>==========================</h3>
    <%= link_to 'Exam', exams_path %>
  </center>
<%else%>
  <script type="text/javascript">
    window.location.href = "/" // put your correct path in a string here
  </script>
  <%= link_to 'sign in', new_user_session_path %>
<%end%>
