<%= link_to "Back", faculty_index_path %>

<center>
<h1>:::Exam:::</h1><%= link_to 'Create new', new_createexam_path %>

(<%= current_user.email%>)

<%if current_user%>
<!--<%= @user = current_user %>
<%= @user.email%>-->
<h3>==========================</h3>
<%= render "examlist"%>


<%else%>
<!--<%= link_to 'sign up', new_user_registration_path %>-->
<script type="text/javascript">
    window.location.href="/"  // put your correct path in a string here
</script>
<%= link_to 'sign in', new_user_session_path %>
<%end%>
</center>
