<center>
  <h1>MCQ Exam</h1>
  <table class="roundedCorners">
    <thead>
      <tr>
        <td align="center">
          <%= link_to "sign in", new_user_session_path %>
        </td>
      <tr>
    </thead>
  </table>
</center>
<!--<% if current_user %>-->
<!--<%= @user = current_user %>
<%= @user.email %>-->
<!--<%= current_user.email %>
<%= link_to "Edit Profile", edit_user_registration_path %>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>
<% else %>-->
<!--<%= link_to "sign up", new_user_registration_path %>-->
<!--<% end %>-->
