<center>
  <h2>:::Add Option:::</h2>
  <table class="roundedCorners">
    <thead>
      <tr>
        <td>
          <%= form_with(model: @option, local: true) do |f| %>
          <% if @option.errors.any? %>
            <h2><%= pluralize(@option.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @option.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
          <% end %>

          <div class="field">
            <%= f.label :option %><br />
            <%= f.text_field :opt, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "Add Option" %>
          </div>
          <% end %>
        </td>
      </tr>
    </thead>
  </table>
</center>