<div>
  <center>
    <% if !@options.blank? %>
      <table id="optionlist1">
        <th>
          <%= link_to "Add More Option", new_exam_question_option_path(params[:exam_id]) %>
        </th>
      </table>
      <table class="table" id="optionlist">
        <thead class="thead-dark">
          <tr>
            <th>No.</th>
            <th>Index</th>
            <th>Option</th>
            <th>Answer</th>
            <th colspan="2" class="text-center">Operations</th>
          </tr>
        </thead>
        <% count = 1 %>
        <% @options.each do |option| %>
          <tr>
            <td><%= count %></td>
            <td><%= option.option_index %></td>
            <td><%= option.name %></td>
            <td><%= option.answer %></td>
            <td class="text-center"><%= link_to "Edit", edit_exam_question_option_path(option.question.exam, option.question, option), class: "btn btn-outline-primary fa fa-pencil-square-o" %>
            </td>
            <td class="text-center">
              <%= link_to "Remove", exam_question_option_path(option.question.exam, option.question, option), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger fa fa-trash" %>
            </td>

          </tr>
          <% count += 1 %>
        <% end %>
      </table>
    <% else %>
      <h2 style="color: red">No Option has been added!!!</h2>
      <h3><%= link_to("Add Option", new_exam_question_option_path(params[:exam_id]), data: { confirm: "Are you sure?" }) %>
      </h3>
    <% end %>
  </center>
</div>
