<%if current_user%>
<%= link_to  "Back", exam_question_options_path %>
<h2>Edit Option</h2>

<center>
    <%= form_with(model: @option,:url => exam_question_option_path, local: true) do |f|%>

    <table class="roundedCorners">
        <tr>
            <td><%=f.label :option %></td>
            <td><%=f.text_area :opt , class: 'my_class' %></td>
        </tr>

        <div class="field">
            <%= f.hidden_field :id %>
        </div>

        <tr>
            <td></td>

            <td align=center>
                <%= f.submit class:'my_class'%>
            </td>
        </tr>

    </table>

    <%end%>
</center>
<%else%>
<!--<%= link_to 'sign up', new_user_registration_path %>-->
<script type="text/javascript">
    window.location.href = "/" // put your correct path in a string here
</script>
<%= link_to 'sign in', new_user_session_path %>
<%end%>