<% if params[:faculty] == "1" %>
  <%= link_to "Back", :back %>
  <h4>Enrollment No.: <%= @result.user.enrollment %></h4>
<% else %>
  <%= link_to "My Dashboard", students_path %>
<% end %>
<br />
<table class = "table">
  <tr>
    <th>Exam name:</th>
    <td><%= @exam.name %></td>
  </tr>
  <tr>
    <th>Exam desc.:</th>
    <td><%= @exam.info %></td>
  </tr>
  <tr>
    <th>Exam date:</th>
    <td><%= @exam.start_date.strftime("%d/%m/%Y") %></td>
  </tr>
  <tr>
    <th>Exam start time:</th>
    <td><%= @exam.start_date.strftime("%I:%M%p") %></td>
  </tr>
  <tr>
    <th>Exam end time:</th>
    <td><%= @exam.end_date.strftime("%I:%M%p") %></td>
  </tr>
  <tr>
    <th>Exam Submission time:</th>
    <td><%= @result.created_at.strftime("%d/%m/%Y, %I:%M%p") %></td>
  </tr>
</table>
<br />
<h4>Score: <%= @result.score %> out of <%= @questions_count %></h4>
<%= link_to "Attempted Question(s)", exam_student_answer_path(@exam.id, current_user.id), class: "btn btn-primary btn-xs" %>
