<div>
  <center>
    <div class="text-center">
      <h1>Subject list<%= link_to "", new_subject_path, class: "btn-outline-success fa fa-plus-circle" %></h1>
    </div>
    <table class="table" id="subjectlist">
      <thead class="thead-light">
        <tr>
          <th>Branch</th>
          <th>Semester</th>
          <th>Subject</th>
          <th></th>
          <th></th>
        </tr> 
      </thead>

      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.branch.name %></td>
          <td><%= subject.semester.sem %></td>
          <td><%= subject.name %></td>
          <td><%= link_to "Edit", edit_subject_path(subject.id), class: "btn btn-outline-primary fa fa-pencil-square-o" %></td>
          <td><%= link_to "Delete", subject_path(subject.id), method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-outline-danger fa fa-trash" %></td>
        </tr>
      <% end %>
    </table>
  </center>
</div>
