<div>
  <center>
    <div class="text-center">
      <h6><%= link_to "Add Subject", new_subject_path, class: "boxed-btn3", title: "Add new subject" %></h6>
      
    </div>
    <br/>
    <table class="table table-hover" id="subjectlist">
      <thead class="thead-light">
        <tr>
          <th>Branch</th>
          <th>Semester</th>
          <th>Subject</th>
          <th></th>
          <th></th>
        </tr> 
      </thead>

      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.branch.name %></td>
          <td><%= subject.semester.sem %></td>
          <td><%= subject.name %></td>
          <td><%= link_to "Edit", edit_subject_path(subject.id), class: "genric-btn info-border radius medium fa fa-pencil-square-o" %></td>
          <td><%= link_to "Delete", subject_path(subject.id), method: :delete, data: { confirm: "Are you sure?" }, class: "genric-btn danger-border radius medium fa fa-trash" %></td>
        </tr>
      <% end %>
    </table>
  </center>
</div>
