<style>
  td, th{
    text-align: center;
  }
</style>
<center>
<table class="table table-hover" id="faclist">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Passing Marks</th>
      <th>Subject</th>
      <th colspan="2">Operations</th>
      <th colspan="2">Questions</th>
      <th>\\//</th>
      <th>Result</th>
    </tr>
  </thead>

  <% @exams.each do |exam| %>
  <tr>
    <td title="Exam name"><%= exam.name %></td>
    <td title="Exam description"><%= exam.info %></td>
    <td title="Exam start date"><%= exam.start_date.strftime("%d/%m/%Y") %></td>
    <td title="Exam start time"><%= exam.start_date.strftime("%I:%M%p") %></td>
    <td title="Exam end time"><%= exam.end_date.strftime("%I:%M%p") %></td>
    <td title="Exam passing marks"><%= exam.passing_marks %></td>
    <td title="Exam subject name"><%= exam.subject.name %></td>
    <td>
      <%= link_to "", edit_exam_path(exam), class: "btn btn-outline-primary fa fa-pencil-square-o", title: "Edit Exam" %></td>
    <td>
      <%= link_to "", exam_path(exam), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger fa fa-trash", title: "Delete Exam" %>
    </td>
    <td>
      <%= link_to "", new_exam_question_path(exam), class: "btn btn-outline-secondary fa fa-plus-square", title: "Add Question" %></td>
    <td><%= link_to "", exam_questions_path(exam), class: "btn btn-outline-primary fa fa-list-ol", title: "Questions" %>
    </td>
    <td>
      <%= link_to "Assign", new_exam_assign_path(exam), class: "btn btn-outline-success fa fa-tags", title: "Exam Assign" %></td>
    <td>
      <%= link_to "", faculty_exam_results_path(current_user.id, exam.id), class: "btn btn-outline-primary fa fa-trophy", title: "Result" %>
    </td>
  </tr>
  <% end %>
</table>
</center>
