<div>
  <center>
    <table class="table" id="faclist">
      <thead class="thead-dark">
        <tr>
          <th>Exam Name</th>
          <th>Description</th>
          <th>Exam Date</th>
          <th>Exam start time</th>
          <th>Exam end time</th>
          <th>Passing Marks</th>
          <th>Subject</th>
          <th colspan="4">Operations</th>
          <th>\\//</th>
          <th>Result</th>
        </tr>
      </thead>

      <%@exams.each do |exam|%>
        <tr>
          <td><%= exam.name %></td>
          <td><%= exam.info %></td>
          <td><%= exam.start_date.strftime("%d/%m/%Y") %></td>
          <td><%= exam.start_date.strftime("%I:%M%p")  %></td>
          <td><%= exam.end_date.strftime("%I:%M%p") %></td>
          <td><%= exam.pmarks %></td>
          <td><%= exam.subject.name %></td>
          <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
          <td><%= link_to 'Delete', exam_path(exam), method: :delete, data: {confirm:"Are you sure?"} %></td>
          <td><%= link_to 'Add Question', new_exam_question_path(exam) %></td>
          <td><%= link_to 'Show Question', exam_questions_path(exam) %></td> 
          <td>|| <%= link_to 'Assign', new_exam_assign_path(exam) %></td>
          <td><%= link_to "Show Result", faculty_exam_results_path(current_user.id, exam.id) %></td>
        </tr>
      <% end %>
    </table>
  </center>
</div>
