
  <div class="container">
    <%= form_with(model: @exam, local: true) do |f| %>
      <% if @exam.errors.any? %>
        <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @exam.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group row">
        <%= f.label :name ,class: "col-md-4"%>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-md-4" %>
      </div>

      <div class="form-group row">
        <%= f.label :info ,class: "col-md-4"%>
        <%= f.text_area :info, autofocus: true, autocomplete: "info", class: "col-md-4" %>
      </div>

      <div class="form-group row">
        <%= f.label :start_date ,class: "col-md-4" %><br />
        <%= f.datetime_field :start_date, autofocus: true, class: "col-md-4" %>
      </div>

      <div class="form-group row">
        <%= f.label :end_date ,class: "col-md-4" %><br />
        <%= f.datetime_field :end_date, autofocus: true, class: "col-md-4" %>
      </div>

      <div class="form-group row">
        <%= f.label :passing_marks ,class: "col-md-4"%><br />
        <%= f.number_field :pmarks, autofocus: true, min: 1, value: 1, class: "col-md-4" %>
      </div>

      <div class="form-group row">
        <%= f.label :subject ,class: "col-md-4"%><br />
        <%= f.collection_select(:subject_id, Subject.all, :id, :name, :prompt => 'Select Subject') %>
      </div>

      <div class="form-group row">
        <%= f.hidden_field :etype, :value =>"mcq" %>
      </div>

      <div class="form-group row">
      <div class="col-md-4"></div>
        <div class="col-md-4 text-center"><%= f.submit  %></div>
      </div>
    <% end %>
  </div>

<script>
  $("#exam_end_date").change(checkdate);
  $("#exam_start_date").change(checkdate);

  function checkdate() {
    var startDate = document.getElementById("exam_start_date").value;
    var endDate = document.getElementById("exam_end_date").value;

    if ((Date.parse(startDate) >= Date.parse(endDate))) {
        alert("End date should be greater than Start date");
        document.getElementById("exam_end_date").value = "";
    }
  }
</script>
