<!DOCTYPE html>
<html>

<head>
  <title>Mcq</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  <% # <%= javascript_include_tag :defaults, "rails.validations" %>
</head>

<body>
    <div class="content">
      <center>
        <div style="background-color: #00D363;">
          <span class="text-center" style="color: white; font-weight: bold; background-color: #00D363;"><%= notice %></span>
        </div>
        <div style="background-color: red;">
          <span class="text-center" style="color: white; font-weight: bold"><%= alert %></span>
        </div>
      </center>
      <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
            <%= render "layouts/admin_header" %>
          <% end %>
      <% end %>
      <%= yield %>  
       
    </div>
<script>
function myFunction() {
// alert("Hi");
var x = document.getElementById("sidebar");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}
</script>
</body>
</html>
